<div class="card-product">
  <%= cl_image_tag photos.first.key %>
  <div class="card-product-infos">
    <h2><%= instrument %></h2>
    <p><%= owner %></p>
    <p><%= start_date %> to <%= end_date %></p>

    <% if defined?(rating) %>
      <p><%= rating %></p>
    <% end %>

    <div class="d-flex align-items-center">
      <% if defined?(confirm_link) && confirm_link.present? %>
        <div class="me-5">
          <%= confirm_link %>
        </div>
      <% end %>
      <% if defined?(cancel_link) && cancel_link.present? %>
        <%= cancel_link %>
      <% end %>
    </div>

  </div>
</div>
