<div class="card-product <%= if local_variables.include?(:status) then if status == "confirmed" then "unviewed" end else "" end %>">
  <%= cl_image_tag photos.first.key %>
  <div class="card-product-infos">
    <div class="details">
      <h2><%= instrument %></h2>
      <p><%= owner %></p>
      <p><%= start_date %> to <%= end_date %></p>
    </div>

    <% if defined?(rating) || (defined?(confirm_link) && confirm_link.present?) || (defined?(cancel_link) && cancel_link.present?) %>
      <div class="icons">
        <% if defined?(rating) %>
          <%= rating %>
        <% end %>
        <% if defined?(confirm_link) && confirm_link.present? %>
          <%= confirm_link %>
        <% end %>
        <% if defined?(cancel_link) && cancel_link.present? %>
          <%= cancel_link %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
