<div>
  <h1>Instruments borrowed</h1>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-pending-tab" data-bs-toggle="tab" data-bs-target="#nav-pending" type="button" role="tab" aria-controls="nav-pending" aria-selected="true">Pending Approval</button>
      <button class="nav-link" id="nav-confirmed-tab" data-bs-toggle="tab" data-bs-target="#nav-confirmed" type="button" role="tab" aria-controls="nav-confirmed" aria-selected="false">Confirmed</button>
      <button class="nav-link" id="nav-cancelled-tab" data-bs-toggle="tab" data-bs-target="#nav-cancelled" type="button" role="tab" aria-controls="nav-cancelled" aria-selected="false">Cancelled</button>
      <button class="nav-link" id="nav-completed-tab" data-bs-toggle="tab" data-bs-target="#nav-completed" type="button" role="tab" aria-controls="nav-completed" aria-selected="false">Completed</button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabPending">

    <!-- Pending Approval -->
    <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
      <ul>
        <% pending_bookings = @user_bookings.select { |booking| booking.status == 'pending' } %>
        <% if pending_bookings.any? %>
          <% pending_bookings.each do |user_booking| %>
            <li>
              Instrument: <%= user_booking.instrument.name %>,
              Status: <%= user_booking.status %>,
              Period booked: <%= user_booking.start_date.strftime("%B %d, %Y") %> to <%= user_booking.end_date.strftime("%B %d, %Y") %>
              <%= button_to 'Cancel', booking_path(user_booking), method: :patch, params: { booking: { status: :cancelled } }, class: 'btn btn-secondary', data: { turbo: true } %>
            </li>
          <% end %>
        <% else %>
          <li>You don't have any pending bookings.</li>
        <% end %>
      </ul>
    </div>

    <!-- Confirmed -->
    <div class="tab-pane fade" id="nav-confirmed" role="tabpanel" aria-labelledby="nav-confirmed-tab">
      <ul>
        <% confirmed_bookings = @user_bookings.select { |booking| booking.status == 'confirmed' } %>
        <% if confirmed_bookings.any? %>
          <% confirmed_bookings.each do |user_booking| %>
            <li>
              Instrument: <%= user_booking.instrument.name %>,
              Status: <%= user_booking.status %>,
              Period booked: <%= user_booking.start_date.strftime("%B %d, %Y") %> to <%= user_booking.end_date.strftime("%B %d, %Y") %>
            </li>
          <% end %>
        <% else %>
          <li>You don't have any confirmed bookings.</li>
        <% end %>
      </ul>
    </div>

    <!-- Cancelled -->
    <div class="tab-pane fade" id="nav-cancelled" role="tabpanel" aria-labelledby="nav-cancelled-tab">
      <ul>
        <% cancelled_bookings = @user_bookings.select { |booking| booking.status == 'cancelled' } %>
        <% if cancelled_bookings.any? %>
          <% cancelled_bookings.each do |user_booking| %>
            <li>
              Instrument: <%= user_booking.instrument.name %>,
              Status: <%= user_booking.status %>,
              Period booked: <%= user_booking.start_date.strftime("%B %d, %Y") %> to <%= user_booking.end_date.strftime("%B %d, %Y") %>
            </li>
          <% end %>
        <% else %>
          <li>You don't have any cancelled bookings.</li>
        <% end %>
      </ul>
    </div>

    <!-- Completed -->
    <div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="nav-completed-tab">
      <ul>
        <% completed_bookings = @user_bookings.select { |booking| booking.status == 'completed' } %>
        <% if completed_bookings.any? %>
          <% completed_bookings.each do |user_booking| %>
            <li>
              Instrument: <%= user_booking.instrument.name %>,
              Status: <%= user_booking.status %>,
              Period booked: <%= user_booking.start_date.strftime("%B %d, %Y") %> to <%= user_booking.end_date.strftime("%B %d, %Y") %>
            </li>
          <% end %>
        <% else %>
          <li>You don't have any completed bookings.</li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
