<div class="container text-center">
  <div class="user-info mb-4 p-4">
    <div class="avatar-container">
      <% if @user.photo.attached? %>
        <%= cl_image_tag(@user.photo.key, class: "avatar", alt: "User Profile Picture") %>
      <% else %>
        <%= image_tag "avatar-placeholder.png", class: "avatar", alt: "dropdown menu" %>
      <% end %>
    </div>

    <div class="user-rating">
      <% if @reviews_about_me.any? %>
        <% total_rating = @reviews_about_me.sum(&:rating) %>
        <% average_rating = total_rating.to_f / @reviews_about_me.size %>
        <div>
          <i class="fas fa-star star-yellow"></i>
          <span><%= average_rating.round(1) %></span>
        </div>
      <% else %>
        <div></div>
      <% end %>

      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
  </div>

  <% if current_user.first_name != @user.first_name || current_user.last_name != @user.last_name %>
    <!-- Display reviews first and instruments below -->
    <div class="row">
      <!-- Reviews about me -->
      <div class="col-12 col-sm-6 mb-4">
        <h5>Reviews about me</h5>
        <% if @reviews_about_me.empty? %>
          <small><em class="text-muted">No reviews about <%= @user.first_name %> yet.</em></small>
        <% end %>
        <% @reviews_about_me.each do |review| %>
          <div>
            <% review.rating.times do %>
              <i class="fas fa-star star-yellow"></i>
            <% end %>
            <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
            <p class="mb-0"><%= review.content %></p>
          </div>
          <hr>
        <% end %>
      </div>

      <!-- Reviews by me -->
      <div class="col-12 col-sm-6 mb-4">
        <h5>Reviews by me</h5>
        <% if @reviews_by_me.empty? %>
          <small><em class="text-muted">No reviews written by <%= @user.first_name %> yet.</em></small>
        <% end %>
        <% @reviews_by_me.each do |review| %>
          <div>
            <% review.rating.times do %>
              <i class="fas fa-star star-yellow"></i>
            <% end %>
            <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
            <p class="mb-0"><%= review.content %></p>
          </div>
          <hr>
        <% end %>
      </div>
    </div>

    <div class="instruments">
      <h5>My Instruments</h5>

      <% if @user.instruments.any? %>
        <% @user.instruments.each do |instrument| %>
          <div>
            <%= render partial: 'my_instruments', locals: {
              photos: instrument.photos,
              instrument: link_to(instrument.name, instrument_path(instrument)),
              delete_link: current_user.first_name == @user.first_name && current_user.last_name == @user.last_name ?
                link_to('<i class="fa-solid fa-trash"></i>'.html_safe, instrument_path(instrument), method: :delete, class: 'btn') : nil,
              edit_link: current_user.first_name == @user.first_name && current_user.last_name == @user.last_name ?
                link_to('<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_instrument_path(instrument), class: 'btn') : nil
            } %>
          </div>
        <% end %>
      <% else %>
        <p>No instruments found.</p>
      <% end %>
    </div>

  <% else %>
    <!-- Display instruments first and reviews below -->
    <div class="instruments">
      <h5>My Instruments</h5>

      <% if @user.instruments.any? %>
        <% @user.instruments.each do |instrument| %>
          <div>
            <%= render partial: 'my_instruments', locals: {
              photos: instrument.photos,
              instrument: link_to(instrument.name, instrument_path(instrument)),
              delete_link: current_user.first_name == @user.first_name && current_user.last_name == @user.last_name ?
                link_to('<i class="fa-solid fa-trash"></i>'.html_safe, instrument_path(instrument), method: :delete, class: 'btn') : nil,
              edit_link: current_user.first_name == @user.first_name && current_user.last_name == @user.last_name ?
                link_to('<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_instrument_path(instrument), class: 'btn') : nil
            } %>
          </div>
        <% end %>
      <% else %>
        <p>No instruments found.</p>
      <% end %>
    </div>

    <div class="row">
      <!-- Reviews about me -->
      <div class="col-12 col-sm-6 mb-4">
        <h5>Reviews about me</h5>
        <% if @reviews_about_me.empty? %>
          <small><em class="text-muted">No reviews about <%= @user.first_name %> yet.</em></small>
        <% end %>
        <% @reviews_about_me.each do |review| %>
          <div>
            <% review.rating.times do %>
              <i class="fas fa-star star-yellow"></i>
            <% end %>
            <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
            <p class="mb-0"><%= review.content %></p>
          </div>
          <hr>
        <% end %>
      </div>

      <!-- Reviews by me -->
      <div class="col-12 col-sm-6 mb-4">
        <h5>Reviews by me</h5>
        <% if @reviews_by_me.empty? %>
          <small><em class="text-muted">No reviews written by <%= @user.first_name %> yet.</em></small>
        <% end %>
        <% @reviews_by_me.each do |review| %>
          <div>
            <% review.rating.times do %>
              <i class="fas fa-star star-yellow"></i>
            <% end %>
            <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
            <p class="mb-0"><%= review.content %></p>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
