<div class="instruments-card card-trip">
  <%= link_to instrument_path(instrument, start_date: start_date, end_date: end_date) do %>
    <% if instrument.photos.attached? %>
        <%= image_tag instrument.photos[0], class: "img-fluid" %>
    <% end %>

    <div class="card-body card-trip-infos">
      <div>
        <h5 class="card-title"><%= instrument.name %></h5>
        <p class="card-description"><%= instrument.description %></p>
      </div>

      <h5 class="card-trip-pricing">€<%= instrument.price %></h5>

      <% if instrument.user&.photo.attached? %> <!-- Check if the user's photo is attached -->
        <%= cl_image_tag instrument.user.photo.key, class: "avatar-bordered card-trip-user" %>
      <% end %>
    </div>
  <% end %>
</div>
