<div class="banner banner-fullscreen" style="background-image: linear-gradient(to top, rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(<%= asset_url('banner.webp') %>);">
  <div class="h-100">
    <div class="d-flex flex-column justify-content-end h-100">
      <div class="container container-banner">
      <h1>Tons of Tones lets you play any Instrument in Berlin*</h1>
      <p>Don't buy it. Just rent it.</p>
      </div>
      <%= render "shared/searchbar" %>
    </div>
  </div>
</div>
<div class="container p-5">
  <h2>*Mecca for Musicians</h2>
  <h5>Why our service starts in Berlin</h5>
  <p>For Decades Berlin has been an important city for Musicians. People from all around the world move here, to evolve their career and get inspired by this vibrant city. The best conditions to start our service with a pilot here.</p>
</div>
<%= render "card_guide_rent" %>
<div>
</div>
<%= render "card_guide_offer" %>
<%= render "shared/footer" %>
