<div class="banner banner-fullscreen" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('banner.jpg') %>);">
  <div class="container h-100">
    <div class="d-flex flex-column justify-content-end h-100">
      <h1>Tons of Tones lets you play every Instrument</h1>
      <p>Don't buy it. Just rent it.</p>
      <form action="/instruments">
        <div class="d-flex justify-content-between my-1">
          <div>
            <label for="start_date" class="form-label text-white mb-0">From</label>
            <input type="date" id="start_date" class="form-control"  name="start_date" placeholder="<%= Date.today %>">
          </div>
          <div class="ms-2">
            <label for="end_date" class="form-label text-white mb-0">To</label>
            <input type="date" id="end_date" class="form-control"  name="end_date" placeholder="<%= Date.today + 1 %>">
          </div>
        </div>
        <label for="queyr-instrument" class="form-label text-white mb-0">Instrument</label>
        <div class="input-group mb-4 mr-sm-2">
          <input type="search" id="query-instrument" class="form-control"  name="query" placeholder="Guitar">
          <div class="input-group-append">
            <div class="input-group-btn">
              <input type="submit" value="Search" class="btn btn-primary">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%= render "card_guide_rent" %>
<div>
</div>
<%= render "card_guide_offer" %>
<%= render "shared/footer" %>
