<h1>Instruments#show</h1>
<p>Find me in app/views/instruments/show.html.erb</p>

<h1><%= @instrument.name %></h1>
<p><%= @instrument.description %></p>
<p>Address: <%= @instrument.address %></p>
<p>Category: <%= @instrument.category %></p>
<p>Price: <%= @instrument.price %> EUR</p>

<h3>Photos</h3>
<% if @instrument.photos.attached? %>
  <div class="">
    <% @instrument.photos.each do |photo| %>
      <%= cl_image_tag photo.key, width: 400, height: 300, crop: :fill, class: "" %>
    <% end %>
  </div>
<% else %>
  <p>No photos available for this instrument.</p>
<% end %>

<% if current_user && current_user != @instrument.user %>
  <%= render 'booking_form' %>
<% end %>

<% if current_user && current_user != @instrument.user %>
  <%= render 'booking_form' %>
<% end %>

<h3>Reviews for this Instrument:</h3>
<% reviews = @instrument.bookings.flat_map(&:booking_reviews) %>
<% if reviews.any? %>
  <ul>
    <% reviews.each do |review| %>
      <li>
        <strong>Rating:</strong> <%= review.rating %> / 5<br>
        <strong>Review:</strong> <%= review.content %><br>
        <strong>By:</strong> <%= "#{review.booking.user.first_name} #{review.booking.user.last_name}" %>
        <!-- #TODO Link to user profile -->
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews yet for this instrument.</p>
<% end %>

<%= link_to 'Back to Instruments', instruments_path, class: "" %>
