<div class="container-viewport">
  <div class="container-scrollable">
    <div class="banner-wrapper">
      <% if @instrument.photos.attached? %>
        <% if @instrument.photos.length > 1 %>
          <%= render "photos_carousel", carousel_id: "show", instrument: @instrument %>
        <% else %>
          <%= cl_image_tag @instrument.photos.first.key, crop: :fill, class: "banner-square" %>
        <% end %>
      <% else %>
        <p>No photos available for this instrument.</p>
      <% end %>
      <div class="banner-category-tag">
        <%= render "instruments/category_tag_btn", instrument: @instrument %>
      </div>
    </div>

    <div class="container">
      <div class="pt-3">
        <h1><%= @instrument.name %></h1>
      </div>
      <div class="py-3 d-flex align-items-end">
        <h3 class="text-primary me-1 mb-0"><%= @instrument.price %> €</h3><h6 class="mb-0"> per day</h6>
      </div>
      <div class="pt-3 mt-5 border-top border-secondary">
        <p><%= @instrument.description %></p>
      </div>
      <div class="pt-4 mb-5 border-top border-secondary">
        <h4 class="py-4">Pick it up here</h4>
        <div style="width: 100%; height: 200px;"
             data-controller="map"
             data-map-markers-value="<%= @markers.to_json %>"
             data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        <%= @instrument.address %>
      </div>

      <div class="col-12 col-sm-6 mb-5 pt-5">
        <h5>What other users think</h5>
        <% if @instrument.booking_reviews.empty? %>
          <small><em class="text-muted">No reviews written for this instrument yet.</em></small>
        <% end %>
        <% @instrument.booking_reviews.each do |review| %>
          <div>
            <% review.rating.times do %>
              <i class="fas fa-star star-yellow"></i>
            <% end %>
            <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
            <p class="mb-0"><%= review.content %></p>
          </div>
          <hr>
        <% end %>
      </div>

      <div class="pt-4 pb-3">
        <h4>Rented out by</h4>
        <%= link_to render("users/card_user", user: @instrument.user), user_path(@instrument.user) %>
      </div>
      <%# <%= link_to 'Back to Instruments', instruments_path, class: "" %>
    </div>
  </div>

  <% if current_user && current_user != @instrument.user %>
    <div class="booking-cta" data-controller="booking-cta" data-booking-cta-price-value="<%= @instrument.price %>">
      <div>
        <h5 data-booking-cta-target="totalPrice"></h5>
        <a href="#" data-booking-cta-target="dateRangePrev" data-bs-toggle="modal" data-bs-target="#BookingModal"></a>
      </div>
      <div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BookingModal" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Book</button>
        <%= render "instruments/modal_booking", instrument: @instrument, booking: @booking %>
      </div>
    </div>
  <% end %>
</div>
