<!DOCTYPE html>
<html>
  <head>
    <title>Tons of Tones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tons of Tones lets you play any Instrument in Berlin* Don't buy it. Just rent it.">
    <meta property="og:title" content="Tons of Tones">
    <meta property="og:image" content="<%= image_url("banner.webp", alt: "Tons of Tones") %>">
    <meta property="og:description" content="Tons of Tones lets you play any Instrument in Berlin* Don't buy it. Just rent it.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Tons of Tones">
    <meta name="twitter:description" content="Tons of Tones lets you play any Instrument in Berlin* Don't buy it. Just rent it.">
    <meta name="twitter:image:src" content="<%= image_url("banner.webp", alt: "Tons of Tones") %>">
    <link rel="icon" href="<%= image_url("T_Logo.png") %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
